body {
    background-color: #F6F6F7;
}

.cursor-set {
    cursor: pointer;
    text-decoration: none;
    color: #858585;

}

.author-info img {
    width: 40px;
    height: 40px;
    border-radius: 155px;
}

.error-massage {
    height: 400px;
}

.cardBody {
    overflow: hidden;
}

.hide-details {
    overflow: hidden;
    text-overflow: ellipsis;
}